:root {
  --main-color: #0f5ab7;
  --first-color: #fd3f97;
  --second-color: #abb2bf;
  --third-color: #b9d0ef;
  --fourth-color: #0b003b;
  --fifth-color: #2c2f31;
}

html {
  width: 100%;
}

body {
  background-color: black !important;
}

p {
  font-family: "Source Code Pro", monospace;
  color: var(--second-color);
}

hr {
  max-width: 80%;
}

a {
  text-decoration: none !important;
  padding: 8px 16px;
}

footer {
  margin-top: 120px;
}
/*NAVBAR CSS*/
.navbar {
  backdrop-filter: blur(14px);
  max-width: 98%;
}

.brand-name {
  background-image: linear-gradient(148deg, #0f5ab7 0%, #f49f97 100%); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "JetBrains Mono", monospace;
  font-size: 30px !important;
  font-weight: bold;
  margin-left: 14px;
}

.name-dot {
  color: var(--second-color);
  font-size: 28px;
}

.link-item {
  color: var(--second-color) !important;
  font-family: "JetBrains Mono", monospace;
  transition: all 0.7s ease-out !important;
}

.link-item:hover {
  color: var(--third-color) !important;
  transform: scale(1);
}

.double-slash {
  background-image: linear-gradient(148deg, #0f5ab7 0%, #f49f97 100%); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 14px;
}

.burger-icon {
  color: var(--second-color);
  font-size: 28px;
}

.container-fluid {
  max-width: 98%;
}

/*HERO CSS*/

div.hero-info {
  padding-left: 190px;
  padding-right: 0;
  margin-bottom: 100px;
}

div.hero-photo {
  padding-right: 0;
  margin-bottom: 100px;
}

.my-name {
  font-size: 50px;
  font-family: "JetBrains Mono", monospace;
  color: var(--third-color);
  padding-top: 50px;
  white-space:nowrap;
  overflow:hidden;
}

.tiping-animation {
  animation:blinkCursor 500ms steps(50) infinite normal, typing 5s steps(50) 1s normal both;
}

@keyframes typing {
  from{
    width:0;
  }
  to{
    width:11em;
  }
}


.second-heading {
  padding-top: 14px;
  padding-bottom: 62px;
  font-size: 30px;
  background-image: linear-gradient(148deg, #0f5ab7 0%, #f49f97 100%); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "JetBrains Mono", monospace;
}

.contact-button {
  font-family: "JetBrains Mono", monospace;
  background-color: transparent;
  color: var(--third-color);
  text-transform: uppercase;
  border-radius: 4px;
  border: 1px solid var(--main-color);
  transition: border-radius 0.5s, background 1s, transform 0.5s;
}
.contact-button:hover {
  font-weight: bold;
  color: black;
  background-color: var(--main-color);
  cursor: pointer;
  transform: scale(1.2);
  border-radius: 18px;
}

.main-img {
  width: 340px;
  border-radius: 20px;
}


#mouse-scroll {
  margin: auto;
  z-index: 9999;
}
#mouse-scroll span{
  display: block;
  width: 7px; 
  height: 7px;
  -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
       transform: rotate(45deg);
       transform: rotate(45deg);
  border-right: 2px solid var(--third-color); 
  border-bottom: 2px solid var(--third-color);
  margin: 0 0 3px 5px;
}
#mouse-scroll .mouse {
  height: 30px;
  width: 17px;
  border-radius: 10px;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  border: 2px solid var(--third-color);
}
#mouse-scroll .down-arrow-1 {
  margin-top: 6px;
}
#mouse-scroll .down-arrow-1, #mouse-scroll .down-arrow-2, #mouse-scroll .down-arrow-3 {
  -webkit-animation: mouse-scroll 1s infinite; 
    -moz-animation: mouse-scroll 1s infinite;
}
#mouse-croll .down-arrow-1 {
   -webkit-animation-delay: .1s; 
   -moz-animation-delay: .1s;
   -webkit-animation-direction: alternate;
}
#mouse-scroll .down-arrow-2 {
  -webkit-animation-delay: .2s; 
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
}
#mouse-scroll .down-arrow-3 {
   -webkit-animation-delay: .3s;
   -moz-animation-dekay: .3s;
   -webkit-animation-direction: alternate;
}
#mouse-scroll .mouse-in {
  height: 5px;
  width: 2px;
  display: block; 
  margin: 7px auto;
  background-image: linear-gradient(148deg, #0f5ab7 0%, #f49f97 100%);
  position: relative;
}
#mouse-scroll .mouse-in {
 -webkit-animation: animated-mouse 1.2s ease infinite;
}

@-webkit-keyframes animated-mouse {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
     opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  } 
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}


.slash {
  background-image: linear-gradient(148deg, #0f5ab7 0%, #f49f97 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
}

.projects-title {
  padding-top: 8px;
}

.projects-title, .about-title, .contacts-title {
  padding-left: 66px;
  padding-right: 46px;
  color: var(--third-color);
  font-family: "JetBrains Mono", monospace;
}

.prjcts-hr {
  color: var(--fifth-color);
  margin-top: 26px;
}

.view {
  height: 60px;
  padding-right: 116px;
}

.view-link {
  font-family: "JetBrains Mono", monospace;
  position: relative;
  color: var(--second-color);
  font-size: 18px;
  opacity: 0.7;
  transition: all 0.7s ease-out;
}

.view-link:hover {
  opacity: 1;
  transform: scale(1);
  color: var(--third-color);
  cursor: pointer;
}

.view-link:before,
.view-link:after {
  content: '';
  display: block;
  position: absolute;
  height: 2px;
  top: 50%;
  background-image: linear-gradient(148deg, #0f5ab7 0%, #f49f97 100%); 
  border-radius: 8px;
  transition: all 0.5s;
}


.view-link:before {
  width: 20px;
  right: 89%;
}
.view-link:after {
  width: 0%;
  left: 89%;
}

.view-link:hover:before {
  width: 0%;
}
.view-link:hover:after {
  width: 20px;
}

.view-link span {
  position: absolute;
  display: block;
  height: 50%;
  right: -12%;
  top: 1px;
}

.view-link span:before,
.view-link span:after {
  content:'';
  display: block;
  position: absolute;
  width: 0;
  height: 2px;
  top: 0;
  right: 0;
  background-image: linear-gradient(148deg, #0f5ab7 0%, #f49f97 100%); 
  transform: rotate(45deg);
  transition: all 0.15s;
  transition-delay: 0.15s;
  opacity: 0;
}
.view-link span:before {
  top: 16px;
  right: 0;
  transform: rotate(45deg);
}
.view-link span:after {
  top: 16px;
  right: 0;
  transform: rotate(-45deg);
}

.view-link:hover span:before {
  width: 12px;
  top: 17px;
  right: 5px;
  opacity: 1;
}

.view-link:hover span:after {
  width: 12px;
  top: 25px;
  right: 5px;
  opacity: 1;
}

.w-project {
  margin-top: 20px;
  margin-bottom: 50px;
}

.about-me, .contact-section {
  margin: 50px;
}

.project-img {
  border: 2px solid var(--fifth-color);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 40px;
}

.weather-image {
  width: 450px;
  border-radius: 20px;
}

.project-info {
  background-color: var(--fifth-color);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.weather-project-header, .about-me-header {
  font-family: "JetBrains Mono", monospace;
  background-image: linear-gradient(148deg, #0f5ab7 0%, #f49f97 100%); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 30px;
}

.weather-project-info, .about-info {
  padding: 20px;
  font-size: 20px;
}

.weather-live-link, .weather-github-link {
  font-family: "JetBrains Mono", monospace;
  background-color: transparent;
  color: var(--third-color);
  text-transform: uppercase;
  border-radius: 4px;
  border: 1px solid var(--main-color);
  transition: border-radius 0.5s, background 1s, transform 0.5s;
}
.weather-live-link:hover, .weather-github-link:hover {
  font-weight: bold;
  color: var(--fifth-color);
  background-color: var(--main-color);
  cursor: pointer;
  transform: scale(1.2);
  border-radius: 18px;
}

.about-me-info {
  background-color: var(--fifth-color);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  
}

.read-more-arrow {
  color: var(--second-color);
}


.about-me-img {
  border: 2px solid var(--fifth-color);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.about-image {
    width: 340px;
}

.get-in-touch-title {
  color: var(--third-color);
}

.to-top{
	color: var(--second-color);
	padding-top:1.8em;
	display:inline-block;/* or block */
	position:relative;
	border-color:var(--second-color);
	text-decoration:none;
	transition:all .3s ease-out;
}
.to-top:before{
	content:'▲';
	font-size:.9em;
	position:absolute;
	top:0;
	left:50%;
	margin-left:-.7em;
	border:solid .13em var(--second-color);
	border-radius:10em;
	width:1.4em;
	height:1.4em;
	line-height:1em;
	border-color:inherit;
	transition:transform .5s ease-in;
}
.to-top:hover{
  background-image: linear-gradient(148deg, #0f5ab7 0%, #f49f97 100%); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-color: #f1a098be;
}
.to-top:hover:before{
	transform: rotate(360deg);
  background-image: linear-gradient(148deg, #0f5ab7 0%, #f49f97 100%); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.scroll-up-button {
  color: var(--second-color);
  font-size: 20px;
  font-family: "Source Code Pro", monospace;
}


.email-link, .linkedin-link, .github-link {
  color: var(--second-color);
  font-size: 30px;
}

.email-link:hover, .linkedin-link:hover, .github-link:hover {
  background-image: linear-gradient(148deg, #0f5ab7 0%, #f49f97 100%); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heart {
  background-image: linear-gradient(148deg, #0f5ab7 0%, #f49f97 100%); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.coder {
  color: var(--second-color);
  font-family: "Source Code Pro", monospace;
}

.coder:hover {
  background-image: linear-gradient(148deg, #0f5ab7 0%, #f49f97 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 2560px) {

  div.hero-info {
    padding-left: 300px;
  }

  .w-project, .about-me, .contact-section {
    margin-left: 280px;
    margin-right: 280px;
  }

}

@media (max-width: 1440px) {
  .container-fluid {
    min-width: 1400px;
  }

  div.hero-info {
    padding-left: 140px;
  }

  .w-project, .about-me, .contact-section {
    margin-left: 130px;
    margin-right: 130px;
  }

}

@media (max-width: 1024px) {

  .container-fluid {
    min-width: 1000px;
  }

  div.hero-info {
    padding-left: 70px;
  }

  div.hero-photo {
    padding-left: 0;
  }
  .main-img {
    width: 308px;
  }

  .view {
    padding-right: 82px;
  }

  
  .view-link span {
    top: 0px;
  }


  .projects-title {
    padding-top: 4px;
  }

  .prjcts-hr {
    width: 540px;
  }
  

  .w-project, .about-me, .contact-section {
    margin: 50px;
  }

  .weather-project-info, .about-info {
    padding: 14px;
    font-size: 18px;
  }

  .about-image {
   margin-top: 30px;
  }

}

@media (max-width: 768px) {

  .container-fluid {
    min-width: 762px;
  }


  div.hero-info {
    padding-left: 40px;
  }

  .my-name {
    font-size: 40px;
  }

  .view {
    padding-right: 42px;
  }

  .projects-title, .about-title, .contacts-title  {
    padding-left: 26px;
    padding-right: 20px;
  }

  .prjcts-hr {
    width: 350px;
  }

  .project-img {
    padding-top: 80px;
  }


  .w-project, .about-me, .contact-section {
    margin: 40px;
  }

  .weather-project-info, .about-info {
    padding: 12px;
    font-size: 16px;
  }

  .about-image {
    margin-top: 68px;
   }

}


@media (max-width: 576px) {

  .brand-name {
    margin-left: 0;
  }

  .container-fluid {
    min-width: 574px;
  }

  div.hero-info {
    padding-left: 30px;
    margin-bottom: 10px;
  }

  div.hero-photo {
    margin-bottom: 10px;
}

  .my-name {
    padding-top: 0;
  }

  .main-img {
    width: 300px;
    padding-top: 26px;
  }
  #mouse-scroll {
    margin-top: 60px;
    margin-bottom: 20px;
  }

  .view-link:before,
  .view-link:after {
    top: 48%;
  }

  
  .w-project, .about-me, .contact-section {
    margin: 30px;
  }


  .projects-title, .about-title, .contacts-title  {
    padding-left: 26px;
  }

  .prjcts-hr {
    display: none;
  }

  .project-img {
    padding-top: 40px;
    border-top-right-radius: 20px ;
    border-bottom-left-radius: 0;
 }

 .project-info {
  border-top-right-radius: 0;
  border-bottom-left-radius: 20px;
 }

 .about-me-info {
  border-top-right-radius: 20px ;
  border-bottom-left-radius: 0;
 } 
 
 .about-me-img {
  border-top-right-radius: 0;
  border-bottom-left-radius: 20px;
 }

 .about-image {
  margin: 0;
 }
 .scroll-up-button {
  margin-bottom: 40px;
 }

}

@media (max-width: 425px) {

  .container-fluid {
    min-width: 420px;
  }

   .tiping-animation {
    max-width: 370px;
  }

  .view-link {
    font-size: 14px;
  }

  
.view-link:before {
  width: 14px;
  right: 89%;
}

.view-link:hover:after {
  width: 14px;
}

  .view-link:hover span:before {
    width: 8px;
    top: 16px;
    right: 6px;
   }
 
   .view-link:hover span:after {
    width: 8px;
    top: 20px;
    right: 6px;
   }

}

@media (max-width: 375px) {

  .container-fluid {
    min-width: 370px;
  }

   .my-name {
    font-size: 36px;
  }

   .tiping-animation {
    max-width: 332px;
  }

  .second-heading {
    font-size: 28px;
    padding: 20px 0;
  }
}

@media (max-width: 320px) {

  a {
    font-size: 14px;
  }

  .container-fluid {
    min-width: 320px;
  }

  .w-project, .about-me, .contact-section {
    margin: 10px;
  }

  .brand-name {
    margin: 0;
  }

  .my-name {
    font-size: 28px;
  }

  .tiping-animation {
    max-width: 280px;
  }

  .second-heading {
    font-size: 20px;
    padding: 10px 0;
  }

  .main-img {
    width: 200px;
  }

  .slash {
    font-size: 19px;
  }

  .view {
    padding-right: 5px;
  }

  .projects-title {
    padding-top: 5px;
  }

  .projects-title, .about-title, .contacts-title  {
    padding-left: 10px;
    font-size: 20px;
  } 
  
   footer {
    margin-top: 50px;
   }
}